    <div class="footer">
    	<div class="contact">
    		<p>
    			{{ .Site.Params.Author}}<br />
    			{{ .Site.Params.Tagline }}<br />
    			<a href='mailto:{{ .Site.Params.AuthorEmail }}'>{{ .Site.Params.AuthorEmail }}</a>
    		</p>
    	</div>
    	<div class="contact">
    		<p>
    			<a href="http://github.com/isubuz/">github.com/isubuz</a><br />
    		</p>
    	</div>
    	<div class="rss">
    		<a href="http://feeds.feedburner.com/{{ .Site.Params.FeedBurner }}">
    			<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    		</a>
    	</div>
    </div>
  </div>
</body>
</html>